<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/x
html1-transitional.dtd">
<html>
<head>
	<title>XCoverage</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/content.css" />
	<script type="text/javascript" src="/static/js/jquery-1.8.0.min.js" ></script>
	<script type="text/javascript" src="/static/js/jquery-ui-1.8.23.min.js"></script>
	<script type="text/javascript" src="/static/js/common.js"></script>
</head>	

<body>
	<div id="topbar">
	{% block topbar %}
	Welcome!
	{% endblock %}
	</div>

	<div id="navbar">
	{% block navbar %}
	<span>脚本运行覆盖分析系统</span>
	{% endblock %}
	</div>

	<div id="mainview">
	{% block mainview %}

	{% endblock %}
	</div>
</body>
</html>


