{% extends "base/basic.html" %}

{% block mainview %}

<div id="login_pane">
	<h3>登录</h3>
	<form action='/login' method="post">
		<label style="font-size:12px;">用户名</label> <br />
		<input style="line-height:20px" type="text" name="username" value="" id="username" /> <br />
		<label style="font-size:12px;">密码</label> <br />
		<input style="line-height:20px" type="password" name="passwd" value="" id="passwd" /> <br />
		<input type="hidden" name="cb_tag" value="cb_tag" />
		<input style="line-height:30px;margin-top:10px;width:60px;height:22px;" type="submit" name="login" value="登录" /> 
		<span style="font-size:14px;color:#125295;margin-left:30px;"><a href="/regist">新用户注册</a></span>
		<br />
		<span style="color:red;font-size:14px;">{{error }}</span> <br /><br />
	</form>
</div>
{% endblock %}
